h6{
    margin-top: 15px;
}
.noData{
    img{
        margin: 100px auto;
        display: block;
    }
}
.table-bordered thead th, .table-bordered thead td{
    background-color: #d7e4f1;
}

.table-bordered .search-table thead th{
    background-color: #f5f7f9;
}